.password-meter {
    position: relative;
    /* Other styles */
}

.runner-icon {
    position: absolute;
    top: 14px;  /* Adjust as needed */
    left: 0;
    transition: left 0.5s ease; /* Smooth movement */
}

.finish-line {
    transform: rotate(90deg);
    margin-top: 10px; /* Add some space above the finish line */
    text-align: center; /* Center the finish line image */
    margin-left: 280px;
}