.password-meter {
    position: relative;
}

.runner-icon {
    position: absolute;
    top: 14px;  /* Adjust as needed */
    left: 0;
    transition: left 0.5s ease; /* Smooth movement */
}

.finish-line {
    transform: rotate(90deg);
    margin-top: 10px;
    text-align: center;
    margin-left: 280px;
}